<!-- mainpage/templates/base.html -->
{% load static %}

<!DOCTYPE html>
<html lang="vi">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Trang chính{% endblock %}</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    {% block extra_css %}{% endblock %} 
</head>
    <body>
        <div class="container">
            <div class="navbar">
                {% block navbar %}
                    Thanh menu ngang (nvabar)
                {% endblock %} 
            </div>
            
            <div class="content">
                {% block content %}
                    Khung nội dung chính (content)
                {% endblock %}
            </div>

            <div class="address">
                {% block address %}
                    Thông Tin Công Ty (address)
                {% endblock %}
            </div>
        </div>
    </body>
</html>
